<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="layout.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <!-- <div class="firstDiv"> 

    </div>

    <div class="secondDiv">
        
    </div> -->

    <div style="height: 200px;">
        <div class="colFirstDiv"></div>
    <div class="colSecondDiv"></div>
    <div class="colThirdDiv"></div>
    </div>

    <div class="flexParent">
        <div class="flexFirstDiv"></div>
        <div class="flexSecondDiv"></div>
        <div class="flexThirdDiv"></div>
    </div>

    <!-- <div class="firstDiv"> 

        

    </div>

    <div class="secondDiv">
        
    </div>

    <div class="firstDiv"> 

        

    </div>

    <div class="secondDiv">
        
    </div> -->
    
</body>
</html>