body{
    margin: 0px;
}

.qtreeTop{
    background-color: #0C9786;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    width:90%;
    margin:0 auto;
}

.qtreeTopLeft{
    color: white;
    font-weight: bold;
}

.qtreeTopFlex{
    display: flex;
    justify-content: space-between;
}

.qtreeTopIcons{
    list-style-type: none;
    margin: 0;
}

.qtreeTopIcons li{
    display: inline;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

.qtreeMenus{
    background-color: #3D3D3D;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.qtreeMenuFlex{
    display: flex;
    justify-content: space-between;
        align-items: center;
}

.menuLogoLeft .logo{
    width: 20%;
}

.menuLogoLeft .iso{
    width: 8%;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline;
    color: white;
    margin-left: 10px;
}

.menu li a{
    color: white;
    text-decoration:none;
}

.menu li a:hover{
    /* text-decoration: underline; */
    color: brown;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.slider img{
    width: 100%;
}

.slider{
    position: absolute;
    top: 0;
    z-index: -1;
}

.bookDemo{
    position: fixed;
    background: red;
    transform: rotate(-90deg);
    padding: 10px;
    color: white;
    font-weight: bold;
    top: 260px;
    right: -60px;
}