body{
    margin: 0px;
}

.qtreeTop{
    background-color: #0C9786;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    width:90%;
    margin:0 auto;
}

.qtreeTopLeft{
    color: white;
    font-weight: bold;
}

.qtreeTopFlex{
    display: flex;
    justify-content: space-between;
}

.qtreeTopIcons{
    list-style-type: none;
    margin: 0;
}

.qtreeTopIcons li{
    display: inline;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

.qtreeMenus{
    background-color: #3D3D3D;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.qtreeMenuFlex{
    display: flex;
    justify-content: space-between;
        align-items: center;
}

.menuLogoLeft .logo{
    width: 20%;
}

.menuLogoLeft .iso{
    width: 8%;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline;
    color: white;
    margin-left: 10px;
}

.menu li a{
    color: white;
    text-decoration:none;
}

.menu li a:hover{
    /* text-decoration: underline; */
    color: brown;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.slider img{
    width: 100%;
}

.slider{
    /* position: absolute; */
    top: 0;
    z-index: -1;
}

.bookDemo{
    position: fixed;
    background: red;
    transform: rotate(-90deg);
    padding: 10px;
    color: white;
    font-weight: bold;
    top: 260px;
    right: -60px;
}

.bgContact{
    background: url('bg-review.jpg');
    height:auto;
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bgContacts h2{
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.bgContacts{
    /* display: flex;
    justify-content: space-between; */
}

.mainLogos{
    width:60%;
    float:left
}

.bgForms{
    width: 30%;
    float:right;
}

.logoRatings{
    display: flex;
    justify-content: space-between;
}

.logoRatings img{
    width: 100%;
}

.logoRatings h3{
    color: black;
    text-align: center;
    font-size: 25px;
    margin:0;
}

.logoRat{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
} 

.clearFix{
    width: 10%;
}

.bgForms{
    background-color: white;
}

.bgFormHeading{
    background-color: #0B85C6;
    text-align: center;
    color: white;
    padding: 10px;
}

.bgForms input,.bgForms select,.bgForms textarea{
    width: 93%;
    margin:10px;
    height:40px;
}

.bgForms button{
    width:95%;
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    margin-bottom: 10px;
    background-color: red;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.bgForms button:hover{
    background-color: rgb(55, 19, 19);
    color: white;
    cursor: pointer;
}

.clearHeightFix{
    height: 100px;
}